<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis에대한 설정 파일 -->
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<!-- 자주 사용하는 VO클래스들의 풀클스명을 단순한 별칭으로 사용하기 윈한 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.kh.mybatis.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.mybatis.model.vo.Board" alias="Board" />
	</typeAliases>
	
	<!-- environments : mybatis실행시 연결할 디비정보 -->
	<environments default="development">
	  <environment id="development">
	  	<!-- transactionManager : JDBC(수동커밋) | MANAGED(자동커밋) 중 선택  -->
	    <transactionManager type="JDBC"/>
	    <!-- dataSource : 데이터베이스 정보를 기입-->
	    <!--       type : POOLED(커넥션풀 사용) | UNPOOLED(커넥션풀 사용안함) 
	    	  connectionPool : Connection객체를 담아둘 수 있는 영역
	    	  				   한번 생성된 Connection객체를 담아두고 재사용 해준다.
	    -->
	    <dataSource type="POOLED">
	      <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	      <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	      <property name="username" value="c##jsp"/>
	      <property name="password" value="jsp"/>
	    </dataSource>
	  </environment>
	</environments>
	
	<mappers>
	  <mapper resource="/mappers/member-mapper.xml"/>
	  <mapper resource="/mappers/board-mapper.xml"/>
	</mappers>
</configuration>